.card {
  padding: 1rem 0.7rem 0rem 0.7rem;
  display: flex;
  width: 11vw;
  min-width: 200px !important;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 25vh;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  .cardContent {
    background-color: white;
    .cc {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 10px;
      margin-top: 10px;
      #a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
