.area_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  // max-width: 30vw !important;
  // min-width: 200px;
  width: 20vh;
  min-width: 200px;
  margin-top: 1rem;
  height: 15vh;
  max-height: 35vh;

  .slider {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    width: 80%;
  }
}
